llama3/Llama-3-8B-Instruct-Clearway-CN/adapter_model.safetensors
llama3/Llama-3-8B-Instruct-Clearway-EN/adapter_model.safetensors
llama3/Llama-3-8B-Instruct-Clearway-EN-CN/adapter_model.safetensors
llama3/Llama-3-8B-Instruct-Clearway-EN-CN-NewFormat/adapter_model.safetensors
traffic_detect/Camera_Images/
llama3/Meta-Llama-3-8B/consolidated.00.pth
llama3/Meta-Llama-3-8B-Instruct/consolidated.00.pth
llama3/tests/
        
.bash_history
.bash_logout
.bashrc
.cache/
.conda/
.config/
.dotnet/
.gitconfig
.keras/
.lesshst
.local/
.profile
.python_history
.rest-client/
.sudo_as_admin_successful
.viminfo
.vscode-server/
.wget-hsts
Anaconda3-2023.03-Linux-x86_64.sh
anaconda3/
snap/
